# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [5]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [6]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[-3:]

[4, 5, 6]

In [9]:
# create a list of numbers from 1 to 20
b = list(range(1, 21))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
c = list(range(2, 101, 2))
c

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def div(a, b):
    return a/b

In [13]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

d = range(1, 31)

for i in d:
    if i % 15 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmo_menu = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [14]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [15]:
df.sample()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
55,classic espresso drinks,cappuccino,Soymilk,120,4.5,0.5,0.0,0,110,11,1,7,9.0,10,0,35,15.0,150.0

In [16]:
# select all rows with more than and including 400 calories
df_calories = df[df.calories >= 400] 
df_calories.sample()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
85,signature espresso drinks,white chocolate mocha (without whipped cream),Soymilk,460,13.0,6.0,0.0,5,290,70,1,64,16.0,15,2,60,20.0,150.0

In [17]:
# select all rows whose vitamin c content is higher than the iron content
df_vitamin = df[df["vitamin c"] > df["iron"]] 
df_vitamin.sample()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
11,classic espresso drinks,caff latte,2% Milk,190,7.0,3.5,0.2,30,170,19,0,17,12.0,20,2,40,0.0,150.0

In [25]:
# create a new column containing the caffeine per calories of each drink
df["caffeine per calories"] = df.caffeine / df.calories
df.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine,caffeine per calories
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0,58.333333
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0,65.000000
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0,66.000000
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0,82.000000
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0,1.071429

In [18]:
# what is the average calorie across all items?
df.calories.mean()

193.87190082644628

In [23]:
# how many different categories of beverages are there?
df.beverage.nunique()

33

In [21]:
# what is the average # calories for each beverage category?
df.groupby(["beverage"])["calories"].mean()

beverage
banana chocolate smoothie                             290.000000
brewed coffee                                           4.250000
caff americano                                         13.750000
caff latte                                            139.166667
caff mocha (without whipped cream)                    210.000000
cappuccino                                             90.000000
caramel                                               150.000000
caramel (without whipped cream)                       268.888889
caramel apple spice (without whipped cream)           247.500000
caramel macchiato                                     184.166667
coffee                                                210.000000
espresso                                                7.500000
hot chocolate (without whipped cream)                 236.666667
iced brewed coffee (with classic syrup)                93.333333
iced brewed coffee (with milk  classic syrup)         122.222222
java chip                                             220.000000
java chip (without whipped cream)                     327.777778
mocha                                                 156.666667
mocha (without whipped cream)                         272.222222
orange mango banana smoothie                          266.666667
shaken iced tazo tea (with classic syrup)              86.666667
shaken iced tazo tea lemonade (with classic syrup)    140.000000
skinny latte (any flavour)                            110.000000
strawberries  crme (without whipped cream)            248.888889
strawberry banana smoothie                            290.000000
tazo chai tea latte                                   196.666667
tazo fullleaf red tea latte (vanilla rooibos)         148.333333
tazo fullleaf tea latte                               148.333333
tazo green tea latte                                  275.000000
tazo tea                                                0.000000
vanilla bean (without whipped cream)                  197.500000
vanilla latte (or other flavoured latte)              195.833333
white chocolate mocha (without whipped cream)         330.000000
Name: calories, dtype: float64